<html>

<title>oolong RADIO</title>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loadingAnimation.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <script type="text/javascript">

        //<![CDATA[
        $(document).ready(function () {

            var stream = {
                mp3: "http://stream.oolongradio.com/oolong-radio"
            },
                ready = false;

            $("#jquery_jplayer_1").jPlayer({
                ready: function (event) {
                    ready = true;
                    $(this).jPlayer("setMedia", stream);
                },
                pause: function () {
                    $(this).jPlayer("clearMedia");
                },
                error: function (event) {
                    if (ready && event.jPlayer.error.type === $.jPlayer.error.URL_NOT_SET) {
                        // Setup the media stream again and play it.
                        $(this).jPlayer("setMedia", stream).jPlayer("play");
                    }
                },

                supplied: "mp3",
                preload: "metadata",

                waiting: function (event) {
                    // console.log('start loading stream')
                    $('.jp-pause').hide();
                    $("#loading").fadeIn(1000);
                },
                playing: function (event) {
                    //console.log('stream is successfully loaded')
                    $('.jp-pause').show();
                    $('#loading').hide();
                }
            });

        });
            //]]>
    </script>

    <script>
        var socket = io.connect('/');
        var metaData;

        socket.on('metadata', function (data) {
            $('.metaData').text(data.message)
            // console.log('Got announcement:', data.message);
        });

    </script>
</head>

<body>
    <div class="container">
        <marquee class="metaData" scrollamount="5"></marquee>

        <div id="jquery_jplayer_1" class="jp-jplayer"></div>

        <div id="jp_container_1" class="jp-audio-stream" role="application" aria-label="media player">

            <div class="jp-play">
                <img class="jp-play" id="playBtn" src="/img/play-button.png">
            </div>
            <div id="loading" class="la-ball-clip-rotate la-dark la-3x">
                <div></div>
            </div>

            <div class="jp-pause">
                <img class="jp-pause" id="playBtn" src="/img/pause-button.png">
            </div>

        </div>



    </div>
</body>

<script>
    $(document).ready(function () {

        var playingStatus = false;
        $('#playBtn').click(function () {
            $('#playBtn').toggleClass('playing')
            playingStatus = !playingStatus;

            if (playingStatus) {
                $('#audioBtn').trigger("play")

            } else {
                $('#audioBtn').trigger("pause");
            }
        })

    })
</script>



<footer>

</footer>

</html>