<html>

<title>oolong RADIO</title>


<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/css/reset.css">

    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loadingAnimation.css">
    <link rel="stylesheet" href="/css/volumeSlider.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <script src="/js/jPlayerFunc.js"></script>

    <script>
        var socket = io.connect('/');
        var metaData;

        socket.on('metadata', function (data) {
            $('.metaData').text(data.message)
            // console.log('Got announcement:', data.message);
        });

    </script>


</head>

<body>
    <div class="blank">
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio-stream" role="application" aria-label="media player">

            <div class="play-pause-loading">
                <div class="jp-play">
                    <img id="playBtn" src="/img/play-button.png">
                </div>

                <div id="loading" class="la-ball-clip-rotate la-dark">
                    <div></div>
                </div>

                <div class="jp-pause">
                    <img id="playBtn" src="/img/pause-button.png">
                </div>
            </div>


            <div class="volumeControl">
                <img id="speaker" src="/img/speaker-on.png">

                <div class="range-slider">
                    <input id="volumeSlider" type="range" step="0.05" value="0.8" min="0" max="1">
                </div>
            </div>
        </div>
    </div>

    <div class="blank2">

        <div class="currentProgram">
            <svg height="16" width="16" class="blinking">
                <circle cx="8" cy="8" r="8" fill="red">
                    Sorry, your browser does not support inline SVG
            </svg>
            <p style="padding-left: 10px;">current : oolong music rotation</p>

        </div>
        <marquee class="metaData" scrollamount="5"></marquee>
    </div>

    <div class="radioPlayer">
    </div>

    <div class="container">
        <!-- <nav class="mainNav">
            <ol>
                <li>
                    <p>Program</p>
                </li>
                <li>Archive</li>
                <li>Projects</li>
                <li>About</li>
            </ol>
        </nav> -->
    </div>

</body>

<script>
    $(document).ready(function () {
        var playingStatus = false;
        $('#playBtn').click(function () {
            $('#playBtn').toggleClass('playing')
            playingStatus = !playingStatus;

            if (playingStatus) {
                $('#audioBtn').trigger("play")
            } else {
                $('#audioBtn').trigger("pause");
            }
        })

        var mute = false;
        $('#speaker').click(function () {
            $('#speaker').toggleClass('mute')
            mute = !mute;

            if (mute) {
                $("#jquery_jplayer_1").jPlayer("mute", true);
                $('#speaker').attr("src", "/img/speaker-mute.png")
            } else {
                $("#jquery_jplayer_1").jPlayer("mute", false);
                $('#speaker').attr("src", "/img/speaker-on.png")
            }
        })
    })
</script>



<footer>

</footer>

</html>