html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.blank {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.93);
    z-index: 11;
}

.jp-audio-stream {
    height: 80px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
}

.play-pause-loading {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause-loading img {
    height: 30px;
    filter: invert(100%);
}

#playBtn {
    position: relative;
    cursor: pointer;
    opacity: 0.8;
}

#playBtn:hover {
    z-index: 5;
    opacity: 1.0;
}

#loading {
    display: none;
}

.currentProgram {
    color: black;
    position: relative;
}

.metaData {
    font-family: 'GalanoLight';
    font-size: 1.5em;
    height: 80px;
    width: calc(100% - 310px);
    display: flex;
    align-self: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.volumeControl {
    position: absolute;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: right;
    right: 0;
    cursor: pointer;
    color: white;
}

.volumeControl img {
    height: 30px;
    opacity: 0.8;
    filter: invert(100%);
    margin: 0 5px;
}

.volumeControl img:hover {
    opacity: 1.0;
}

.range-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    /* position: relative; */
    background: linear-gradient(325deg, #9d4700, #b3d400);

    background-size: 400% 400%;
    /* -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite; */
    overflow: hidden;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 34%
    }
    50% {
        background-position: 100% 67%
    }
    100% {
        background-position: 0% 34%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 34%
    }
    50% {
        background-position: 100% 67%
    }
    100% {
        background-position: 0% 34%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 34%
    }
    50% {
        background-position: 100% 67%
    }
    100% {
        background-position: 0% 34%
    }
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../img/deck_2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 1;
}

.container>* {
    z-index: 2;
}

.navContainer {
    position: relative;
    top: 80px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgba(255, 255, 255, 0.75);
}

.clock {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    display: flex;
    /* width: 200px; */
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    color: white;
    z-index: 20;
}

.mainNav {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.mainNav ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mainNav ol li {
    flex: 3;
    text-align: center;
    /* padding: 10px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainNav ol li {
    cursor: pointer;
}

.mainNav ol li:hover {
    /* text-decoration: underline; */
    background-color: black;
    color: white;
}

.aboutNav {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    /* float: right; */
    /* right: 0; */
    padding: 0 40px;
}

.aboutNav ol li a {
    cursor: pointer;
}

.aboutNav ol li a:hover {
    text-decoration: underline;
}

.aboutContainer {
    position: absolute;
    top: 120px;
    left: 70vw;
    height: calc(100vh - 120px);
    width: 30%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.aboutContainer #aboutImg {
    width: 90%;
}

.aboutContainer .closeBtn {
    position: absolute;
    top: 0px;
    left: 0px;
}

.aboutContainer .closeBtn img {
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.aboutContainer p {
    text-align: left;
    padding: 10px 20px;
    line-height: 1.2em;
}

.rotationContainer {
    position: absolute;
    top: 120px;
    height: calc(100vh - 120px);
    width: 70%;
    /* background-color: #fb582f; */
    overflow-x: auto;
    /* border: 1px solid white; */
}

.rotationContainer p {
    line-height: 3em;
}

@media (min-width: 768px) and (max-width: 1024px) {}